{{#with page.versions}}
<div class="page-versions">
  <button class="version-menu-toggle" title="Show other versions of page">{{~#if (eq @root.page.componentVersion.displayVersion "master")}}main{{else}}{{@root.page.componentVersion.displayVersion}}{{/if~}}</button>
  <div class="version-menu">
    {{#each this}}
    <a class="version
      {{~#if (eq ./version @root.page.version)}} is-current{{/if~}}
      {{~#if ./missing}} is-missing{{/if}}" href="{{{relativize ./url}}}">{{~#if (eq ./version "master")}}main{{else}}{{./version}}{{/if~}}</a>
    {{/each}}
  </div>
</div>
{{/with}}
